/*
  style.css
  ==
  These CSS markups are for styling purposes only.
*/

body {
    background: #eee;
    }

div#container {
    width: 1000px;
    margin: 0px auto;
}

.jslide-container {
    float: left;
    width: 1000px;
    background: #888;
    margin-bottom: 50px;
    }

.jslide-container ul.jslide-navi {
    margin: 0px;
    padding: 0px;
    }

.jslide-container ul.jslide-navi li {
    float: left;
    padding: 4px 8px 4px 8px;
    list-style: none;
    }
    
.jslide-container div.caption {
    float: right;
    padding: 4px 14px 4px 4px;
    }

a.jslide-previous { float:left; padding:4px; }
a.jslide-next { float:left; padding:4px; }

.jslide-container .showcase {
    width: 1000px;
    height: 460px;
    background: #FFF;
    }

    .jslide-container .showcase .panel {
        width: 1000px;
        height: 460px;
        background: #DDD;
        }

    .jslide-container .showcase .panel { margin-right:5px; }

.container {
	padding: 20px;
}



